
.select-box {
    background-color: whitesmoke;
    max-width: 250px;
    height: 400px;
    padding: 10px;
    margin: 10px 20px 10px 20px;
    text-align: left;
    border-radius: 5px;
}

.today-weather {
    background-color: white;
    border: solid 1px #dddddd;
    max-width: 100%;
    height: 250px;
    padding: 20px;
    border-radius: 5px;   
}

.five-day {
    color: white;
    width: 130px;
    height: 160px;
    text-align: center;
    border-radius: 5px;
}

.fcastdate {
    margin-top: 10px;
}

.container {
    width: 1200px;
}

body {
    background-color: whitesmoke;
    margin-bottom: 5em;
}

.navbar {
    box-shadow:  1px 1px 8px 3px #999999;
    text-align: center;
}

.navbar-custom a {
    color: white;
    text-align: center;
} 
.city-head {
    margin-left: 10px;
    margin-top: 10px;
}
.top_space {
    color: transparent;
    margin-top: 5em;
}   
   /* change the brand and text color */
   .navbar-custom .navbar-brand,
   .navbar-custom .navbar-text {
       text-align: center;
       color: white;
       font-size: 2em;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 500;
   }
   button {
        border-radius: 5px;
        padding: .2em .5em;
   }
   .green{
       background-color: green;
   }
   .yellow{
    background-color: yellow;
    }
    .orange{
        background-color: orange;
    }
    .red{
        background-color: red;
    }
    .purple{
        background-color: purple;
    }
   .badge {
        float: left;
        margin-top: -5px;
        margin-left: -5px;
        padding: .5em .75em;
        font-size: .8em;
        color: white;
        background-color: green;
   }
   .todayIcon {
       width: 60px;
       height: 60px;
       background-color: lightsteelblue;
       margin-right: 20px;
       border-radius: 5px;
   }
   .fcastIcon {
    width: 70px;
    height: 70px;
    margin-top: -10px;
    margin-left: -10px;
   }
   .myImg {
       width: 70px;
       height: 70px;
       margin-top: -10px;
   }
   .w-data {
        padding: .2em 0em .2em 0em;
        margin-bottom: -15px;
        font-size: .9em;
   }