
.select-box {
    width: 100%;
    padding: 30px;
    text-align: left;
    border-radius: 5px;
}
.myForm {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
.myInput {
    width: 80%;
}
.today-weather {
    border: solid 1px #666666;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    border-radius: 5px; 
    padding: 20px;
    background-color: white;
    border: solid 1px #dddddd;
}
.myDate {
    text-align: center;
}

.forecast {
    padding: 5px;
    margin: 5px;
}
.five-day {
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
}

.fcastdate {
    margin-top: 5px;
    text-align: center;
}

.myClass:hover {
    background-color: orangered;
    color: whitesmoke;
}

.container {
    width: 1200px;
}
.city-item {
    background-color: white;
    border: solid 1px #dddddd;
    color: #666666;
    width: 100%;
    padding: .25em .25em;
    margin: 0px;
}

.city-item:hover {
    background-color: cornflowerblue;
    color: white;
}

body {
    margin-bottom: 5em;
}

.city-head {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 5px;

}
.top_space {
    color: transparent;
    margin-top: 5em;
}   

  .topbar {
       text-align: center;
       text-shadow: 1px 1px #333333;
       background-image: url("../img/weatherhead.jpg");
       background-color: #ffffff;
       color: white;
       font-size: 1.7em;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 600;
       padding-top: .5em;
       padding-bottom: .5em;
       box-shadow:  1px 1px 8px 3px #999999;
   }
   button {
        border-radius: 5px;
        padding: .2em .5em;
   }
   .green{
       background-color: green;
   }
   .yellow{
    background-color: yellow;
    }
    .orange{
        background-color: orange;
    }
    .red{
        background-color: red;
    }
    .purple{
        background-color: purple;
    }
   .badge {
        float: left;
        margin-top: -5px;
        margin-left: -5px;
        padding: .5em .75em;
        font-size: .8em;
        color: white;
        background-color: green;
   }
   .todayIcon {
       width: 60px;
       height: 60px;
       background-color: lightsteelblue;
       margin-right: 20px;
       border-radius: 5px;
   }
   .fcastIcon {
    width: 70px;
    height: 70px;
    margin-top: -10px;
    margin-left: -10px;
   }
   .myImg {
       width: 70px;
       height: 70px;
       margin-top: -10px;
   }
   .w-data {
        padding: .2em 0em .2em 0em;
        margin-bottom: -15px;
        font-size: .9em;
   }