
.select-box {
    background-color:lightskyblue;
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
}
.myForm {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
.myInput {
    width: 80%;
}
.myBlock {
        margin-left: 40%;
        margin-right: 40%;
}
.today-weather {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-radius: 5px; 
    padding: 20px;
    background-color: lightskyblue;
}
.myDate {
    text-align: center;
}
.forecasthead {
    margin-left: 20px;
}
.forecast {
    padding: 5px;
    margin: 5px;
}
.five-day {
    color: white;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    border-radius: 5px;
}

.fcastdate {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
}

.myClass:hover {
    background-color: orangered;
    color: whitesmoke;
}

.container {
    width: 1200px;
}
.city-item {
    background-color: white;
    border: solid 1px #dddddd;
    color: #666666;
    width: 100%;
    padding: .25em .25em;
    margin: 0px;
}

.city-item:hover {
    background-color: cornflowerblue;
    color: white;
}

body {
    margin-bottom: 5em;
    background-color: whitesmoke;
}

.city-head {
    text-align: center;
}
.city-name {
    margin-top: -4em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 600;
}
.top_space {
    margin-top: 5em;
}
  .topbar {
       text-align: center;
       text-shadow: 1px 1px #333333;
       color: white;
       font-size: 1.7em;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 600;
       padding-top: .5em;
       padding-bottom: .5em;
       box-shadow:  1px 1px 8px 3px #999999;
   }

   @media only screen and (max-width: 980px) {
    .topbar {
      font-size: 1.1em;
      font-weight: 400;
    }
    .todayIcon {
        background-color: transparent!important;
        border-radius: 5px;
        margin-top: -2em!important;
        margin-left: -2em!important;
    }
    .myBlock {
        margin-left: 15%;
        margin-right: 15%;
    }
    .forecasthead {
        margin-left: 0px;
        text-align: center;
    }
  }
 
   button {
        border-radius: 5px;
        padding: .2em .5em;
   }
   .green{
       background-color: green;
   }
   .yellow{
    background-color: yellow;
    }
    .orange{
        background-color: orange;
    }
    .red{
        background-color: red;
    }
    .purple{
        background-color: purple;
    }
   .myBadge {
        padding: .6em .2em .1em .2em;
        font-size: 1em;
        color: white;
        text-align: center;
        background-color: green;
        border-radius: 20px;
   }
   .todayIcon {
       width: 120px;
       height: 120px;
       margin-right: 0px;
       margin-top: 0px;
       border-radius: 5px;
       background-color: lightgrey;
   }

   .myImg {
       width: 70px;
       height: 70px;
       margin-top: -10px;
   }
   .w-data {
        padding: .2em 0em .2em 0em;
        margin-bottom: -15px;
        font-size: .9em;
   }